.btn {
  margin-right: 30px;
  width: 70px;
  height: 30px;
  background: greenyellow;
  border-radius: 5px;
  border: 2px solid tomato;
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}
